{% extends 'base.html.twig' %}

{% block title %}{{ county.label }}{% endblock %}
{% block recherche %}
    {% include 'default/header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Département : {{ county.label }}</h1>
<h2>Liste des objets trouvés</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Trouvé le</th>
                <th>Ville</th>
                <th>Catégorie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for traobjectFound in traobjectFounds %}
                <tr>
                    <td>{{ traobjectFound.title }}</td>
                    <td><img class="thumbnail" src="{{ asset('uploads/' ~ traobjectFound.picture)}}" alt="{{ traobjectFound.category.label }}"></td>
                    <td>{{ traobjectFound.eventAt|date('d/m/Y') }}</td>
                    <td>{{ traobjectFound.city }}</td>
                    <td>{{ traobjectFound.category.label }}</td>
                    <td class="d-flex justify-content-between">
                        <a class="btn btn-primary mr-3" href="{{ path('traobject_show', {'id': traobjectFound.id}) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun objet trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}