{% extends "base.html.twig" %}
{% block body %}
    <div class="container col-md-4 mt-5">
        <h1 class="text-center">Mon compte</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.phone) }}
        <div class="text-center">
            <button type="submit" class="btn btn-success"><i class="fa fa-check mr-2"></i>Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}